[MySQL-asteriskcdrdb]
Description = MariaDB connection to 'asteriskcdrdb' database
Driver = MariaDB
Server = localhost
Database = asteriskcdrdb
Port = 3306
Socket = /var/run/mysqld/mysqld.sock
Option = 3
User = {{ db_fpbx_user }}
Password = {{ db_fpbx_pass }}
